﻿@model IncidentReporter.Web.Models.DangerousOccurrenceFormModel
@{
	var disabled = false;
	var disabledClass = string.Empty;
	if (ViewData["Disabled"] != null)
	{
		disabled = (bool)ViewData["Disabled"];
		if (disabled)
		{
			disabledClass = "disabled";
		}
	}
}


<div class="form-horizontal">
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	@Html.Partial("_ResponsiblePersonReadOnly",Model)



	<fieldset disabled>
		<legend>Incident Details</legend>

		<div class="form-group">
			<div class="col-md-6 ">
				@Html.LabelFor(model => model.DateOfIncident, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-3">
					@Html.EditorFor(model => model.DateOfIncident, new { htmlAttributes = new { @class = "form-control" } })
				</div>

			</div>
			<div class="col-md-6">
				@Html.LabelFor(model => model.TimeOfIncident, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-2">
					@Html.EditorFor(model => model.TimeOfIncident, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>


		<div class="form-group">
			@Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.CauseOfDangerousOccurrence, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.CauseOfDangerousOccurrence, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>

		@if (Model.AffectedPersonIsEmployee.HasValue && Model.AffectedPersonIsEmployee.Value)
		{
			@Html.Partial("_AffectedPersonReadOnly", Model, new ViewDataDictionary { { "StatusLabel", "Occupation" } })
		}
		else
		{
			@Html.Partial("_AffectedPersonReadOnly", Model, new ViewDataDictionary { { "StatusLabel", "Status" } })
		}


	</fieldset>


</div>


