﻿@model IncidentReporter.Web.Models.DangerousOccurrenceFormModel

@{
	ViewBag.Title = "Dangerous Occurrences - New Incident";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_Success")
<div>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		@Html.Partial("_DangerousOccurrenceForm", Model)

		@Html.Partial("_IncidentButtonBar", Model)
	}
	@Html.ActionLink("Back to List", "Index")

</div>
