﻿@model IncidentReporter.Web.Models.IncidentListPageModel
@{
	ViewBag.Title = ViewData["IncidentType"].ToString() + " - Index";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_Success")

@Html.Partial("_IncidentTable", Model, new ViewDataDictionary { { "IncidentType", ViewData["IncidentType"].ToString() } })

<div class="row">
	<a href="@Url.Action("Create")" class="btn btn-primary">New</a>
</div>