﻿@model IncidentReporter.Web.Models.InjuryFormModel

@{
	ViewBag.Title = "Non-fatal Injuries - New Incident";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.Partial("_InjuryForm", Model)

	@Html.Partial("_IncidentButtonBar", Model)
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
