﻿@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en-gb">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Incident Reporting Demo - Home</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Incident Reporting Demo</h1>
			<p>What do you think?</p>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Info
					</div>
					<div class="panel-body">
						Click on one of the panels to maintain that category of reportable incident.
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a class="bigButtonInfo" href="@Url.RouteUrl(new { controller = "DangerousOccurrence", action = "index" })">Dangerous Occurrence</a>
					</div>
					<div class="panel-body">
						<a class="bigButtonBody" href="@Url.RouteUrl(new { controller = "DangerousOccurrence", action = "index" })">Select this option to create a new Dangerous Occurrence reports or to view, edit or delete existing Dangerous Occurrence reports.</a>

					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a class="bigButtonInfo" href="@Url.RouteUrl(new { controller = "Injuries", action = "index" })">Injuries</a>
					</div>
					<div class="panel-body">
						<a class="bigButtonBody" href="@Url.RouteUrl(new { controller = "Injuries", action = "index" })">Select this option to report a non-fatal injury to either an employee or a member of the public.</a>

					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a class="bigButtonInfo" href="@Url.RouteUrl(new { controller = "Fatalities", action = "index" })">Fatalities</a>
					</div>
					<div class="panel-body">
						<a class="bigButtonBody" href="@Url.RouteUrl(new { controller = "Fatalities", action = "index" })">Select this option to report a fatality to either an employee or a member of the public.</a>

					</div>
				</div>
			</div>

			<div class="col-md-12 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a class="bigButtonInfo" href='@Url.RouteUrl("OccupationalIllness")'>Occupational Illnesses</a>
					</div>
					<div class="panel-body">
						<a class="bigButtonBody" href='@Url.RouteUrl("OccupationalIllness")'>Select this option to report a work related illness</a>

					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a class="bigButtonInfo" href='@Url.RouteUrl("OverseasDisease")'>Overseas Diseases</a>
					</div>
					<div class="panel-body">
						<a class="bigButtonBody" href='@Url.RouteUrl("OverseasDisease")'>Select this option to report employees who have contracted a reportable overseas disease</a>

					</div>
				</div>
			</div>
		</div>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
</body>
</html>
