﻿@model IncidentReporter.Web.Models.FatalityFormModel

<div class="form-horizontal">
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	@Html.Partial("_ResponsiblePersonReadOnly", Model)

	<fieldset disabled>
		<legend>Incident Details</legend>
		<div class="form-group">
			<div class="col-md-6">
				@Html.LabelFor(model => model.DateOfIncident, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-3">
					@Html.EditorFor(model => model.DateOfIncident, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.DateOfIncident, "", new { @class = "text-danger" })
				</div>

			</div>
			<div class="col-md-6">
				@Html.LabelFor(model => model.TimeOfIncident, htmlAttributes: new { @class = "control-label col-md-4" })
				<div class="col-md-2">
					@Html.EditorFor(model => model.TimeOfIncident, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.TimeOfIncident, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
			</div>
		</div>

		@if (Model.AffectedPersonIsEmployee.HasValue && Model.AffectedPersonIsEmployee.Value)
		{
			@Html.Partial("_AffectedPersonReadOnly", Model, new ViewDataDictionary { { "StatusLabel", "Occupation" } })
		}
		else
		{
			@Html.Partial("_AffectedPersonReadOnly", Model, new ViewDataDictionary { { "StatusLabel", "Status" } })
		}
	</fieldset>
	@Html.HiddenFor(model => model.InjuryId)


</div>
