﻿@model IncidentReporter.Web.Models.FatalityFormModel

@{
	ViewBag.Title = "Fatalities - New Incident";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.Partial("_FatalityForm", Model)

	@Html.Partial("_IncidentButtonBar", Model)
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
