﻿@model IncidentReporter.Web.Models.IncidentFormModelBase
@{
	var affectPersonStatusLabelText = string.Empty;
	if (ViewData["StatusLabel"] != null && !string.IsNullOrWhiteSpace(ViewData["StatusLabel"].ToString()))
	{
		affectPersonStatusLabelText = ViewData["StatusLabel"].ToString();
	}
}
<fieldset>
	<legend>Affected Person</legend>

	<div class="form-group">
		@Html.LabelFor(model => model.NameOfAffectedPerson, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.NameOfAffectedPerson, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.NameOfAffectedPerson, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AffectedPersonIsEmployee, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<div class="checkbox">
				@Html.EditorFor(m => m.AffectedPersonIsEmployee)
				@Html.ValidationMessageFor(model => model.AffectedPersonIsEmployee, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AffectedPersonStatusId, affectPersonStatusLabelText, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.AffectedPersonStatusId, Model.AffectedPersonStatusList, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.AffectedPersonStatusId, "", new { @class = "text-danger" })
		</div>
	</div>

</fieldset>