﻿@model IncidentReporter.Web.Models.IncidentFormModelBase
@{
	var affectPersonStatusLabelText = string.Empty;
	if (ViewData["StatusLabel"] != null && !string.IsNullOrWhiteSpace(ViewData["StatusLabel"].ToString()))
	{
		affectPersonStatusLabelText = ViewData["StatusLabel"].ToString();
	}
}
<fieldset disabled>
	<legend>Affected Person</legend>
	<div class="form-group">
		@Html.LabelFor(model => model.NameOfAffectedPerson, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.NameOfAffectedPerson, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>

	<div class="form-group">
		@Html.HiddenFor(model => model.AffectedPersonIsEmployee)
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AffectedPersonStatusId, affectPersonStatusLabelText, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.AffectedPersonStatusId, Model.AffectedPersonStatusList, new { @class = "form-control" })
		</div>
	</div>

</fieldset>