﻿@model IncidentReporter.Web.Models.IncidentFormModelBase

<div class="form-group">
	<div class="col-md-offset-2 col-md-10">
		<button type="submit" class="btn btn-default" name="buttonAction" value="Save">Save</button>
		@if (Model.SubmissionTimestamp.HasValue)
		{
			<button type="submit" class="btn btn-default" disabled name="buttonAction" value="Submit">Submit</button>
		}
		else
		{
			<button type="submit" class="btn btn-default" name="buttonAction" value="Submit">Submit</button>
		}
	</div>
</div>