﻿@model IncidentReporter.Web.Models.IncidentListPageModel

<div class="row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Created On</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.IncidentList.Any())
			{
				foreach (var incident in Model.IncidentList)
				{
					<tr>
						<td>@incident.Id</td>
						<td>@(incident.Description.Length > 100 ? incident.Description.Substring(0, 100) : incident.Description)</td>
						<td>@incident.CreatedOn.ToString("dd MMM yyyy")</td>
						<td><a href="@Url.Action("Edit", new {@id = incident.Id})" class="btn btn-primary">Edit</a></td>
						<td><a href="@Url.Action("Delete",new {@id = incident.Id})" class="btn btn-danger">Delete</a></td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="4">Sorry, thare are no @ViewData["IncidentType"].ToString() records in the system</td>
				</tr>
			}
		</tbody>

	</table>



</div>
