﻿@model IncidentReporter.Web.Models.IncidentFormModelBase
<fieldset>
	<legend>Responsible Person</legend>

	<div class="form-group">
		@Html.LabelFor(model => model.TitleId, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.TitleId, Model.TitleList, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.TitleId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6">
			@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="col-md-6">
			@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AddressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AddressLine2, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Town, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Postcode, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-6">
			@Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="col-md-6">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
			<div class="col-md-8">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>

	</div>
</fieldset>