﻿@model IncidentReporter.Web.Models.IllnessFormModel

@{
	ViewBag.Title = ViewData["IncidentType"].ToString() + " - New Incident";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.Partial("../Illness/_IllnessForm", Model)

	@Html.Partial("_IncidentButtonBar", Model)
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
