﻿@model IncidentReporter.Web.Models.IllnessFormModel

@{
	ViewBag.Title = ViewBag.Title = ViewData["IncidentType"].ToString() + " - Delete Incident";
}

<h2>@ViewBag.Title</h2>
<div>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		@Html.Partial("../Illness/_IllnessFormReadOnly", Model)

		<div class="form-horizontal">
			<hr />
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="checkbox" id="confirmDelete" name="confirmDelete" />
					<label for="confirmDelete">Tick here to confirm deletion</label>
				</div>
			</div>
		</div>

		<div class="form-horizontal">
			<hr />
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<button type="submit" class="btn btn-default">Delete</button>
				</div>
			</div>
		</div>
	}
	@Html.ActionLink("Back to List", "Index")

</div>
