﻿@model IncidentReporter.Web.Models.IllnessFormModel

@{
	ViewBag.Title = ViewBag.Title = ViewData["IncidentType"].ToString() + " - Edit Incident";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Success")
<div class="row">
	<div class="col-lg-12">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			@Html.Partial("../Illness/_IllnessForm", Model)

			@Html.Partial("_IncidentButtonBar", Model)
		}
		@Html.ActionLink("Back to List", "Index")

	</div>
</div>
