﻿a.bigButtonPrimary {
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
}

	a.bigButtonPrimary:visited {
		color: white;
	}

	a.bigButtonPrimary:hover {
		color: white;
		font-weight: bold;
		text-decoration: none;
	}

a.bigButtonInfo {
	color: #3a87ad;
	text-decoration: none;
	display: block;
	width: 100%;
}

	a.bigButtonInfo:visited {
		color: #3a87ad;
	}

	a.bigButtonInfo:hover {
		color: #3a87ad;
		font-weight: bold;
		text-decoration: none;
	}

a.bigButtonBody {
	color: #333333;
	display: block;
	width: 100%;
}

	a.bigButtonBody:visited {
		color: #333333;
	}

	a.bigButtonBody:hover {
		color: #333333;
		font-weight: bold;
		text-decoration: none;
	}
