﻿@model bool?
@if (!Model.HasValue)
{
	<button class="btn btn-default" disabled type="submit" value="1" name="EmployeeSwitch">Yes</button>
	<button class="btn btn-default" disabled type="submit" value="0" name="EmployeeSwitch">No</button>
}
else
{
	if (Model.Value)
	{
		<button class="btn btn-info" disabled type="submit" value="1" name="EmployeeSwitch">Yes</button>
		<button class="btn btn-default" disabled type="submit" value="0" name="EmployeeSwitch">No</button>
	}
	else
	{
		<button class="btn btn-default" disabled type="submit" value="1" name="EmployeeSwitch">Yes</button>
		<button class="btn btn-info" disabled type="submit" value="0" name="EmployeeSwitch">No</button>
	}
}
